.gradient-blue{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(14, 242, 249), rgb(54, 141, 248));
  border-radius: 30px;
  margin-bottom: 5px;
  width: 90px;
  height: 40px;
  outline: none !important;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-blue:hover{
  background: linear-gradient(to bottom, rgb(114, 236, 240), rgb(54, 141, 248));
  opacity: 0.9;
  box-shadow: none;
}
.gradient-blue:focus {
    outline: none;
}
.gradient-blue1{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(14, 242, 249), rgb(54, 141, 248));
  border-radius: 30px;
  margin-bottom: 5px;
  width: 90px;
  height: 40px;
  outline: none !important;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-blue1:hover{
  background: linear-gradient(to bottom, rgb(114, 236, 240), rgb(54, 141, 248));
  opacity: 0.9;
  box-shadow: none;
}
.gradient-blue1:focus {
    outline: none;
}
.gradient-blue4{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(14, 242, 249), rgb(54, 141, 248));
  border-radius: 30px;
  margin-bottom: 5px;
  width: 90px;
  height: 40px;
  outline: none !important;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-blue4:hover{
  background: linear-gradient(to bottom, rgb(114, 236, 240), rgb(54, 141, 248));
  opacity: 0.9;
  box-shadow: none;
}
.gradient-blue4:focus {
    outline: none;
}
.gradient-gray{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 90px;
  height: 40px;
  border-radius: 30px;
  background: linear-gradient(to bottom, rgb(181, 187, 187), rgb(58, 59, 60));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-green{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-top: 10px;
  width: 130px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(to bottom, rgb(14, 249, 186), rgb(6, 170, 113));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-green-2{
  display: flex;
  align-items: center;
  width: 128px;
  justify-content: center;
  border-radius: 30px;
  background: linear-gradient(to bottom, rgb(14, 249, 186), rgb(6, 170, 113));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.oura img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 55px;
  border-radius: 20px;
  margin-top: 13px;
  margin-left: -40px;
  border: 1px solid white;
}
.line p{
    display: flex;
    background: white;
    border-radius: 15px;
    font-style: italic;
    border-radius: 20px;
    width: 239px;
    height: 35px;
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(14, 225, 232),rgb(13, 85, 174));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
  height: 70px;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 40px;
}
.footer-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 40px;
  padding: 0%;
}
.formu{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin-top: 150px;
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: rotateX(20deg);
}
/* Estilos para pantallas medianas */
@media (max-width: 768px) {
  .formu {
    display: flex;
    position: relative;
    bottom: 30px;
    left: 10px;
    width: 600px;
  }
  .register{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-group{
    max-width: 370px;
  }
  .formu-2{
    display: flex;
    position: relative;
    bottom: 50px;
    left: 30px;
    padding: 0 auto;
    margin: 0;
  }
  .oura img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 160px;
    max-height: 60px;
    margin-top: -10px;
    border: 1px solid white;
  }
  .gradient-blue{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(14, 242, 249), rgb(54, 141, 248));
    border-radius: 30px;
    margin-top: -65px;
    margin-left: 630px;
    max-width: 70px;
    max-height: 40px;
    font-size: 11px;
    outline: none !important;
    box-shadow: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    margin: 10 auto;
    padding-right: 20px;
    max-width: 860px;
    font-size: 13px;
  }
  .welcome{
    max-width: 500px;
    margin-top: -20px;
  }
  .gradient-blue{
    display: flex;
    margin-right: -60px;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  .formu {
    width: 400px;
  }
  .register-group {
    max-width: 340px;
    padding-right: 80px;
  }
  .oura img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    max-height: 60px;
    margin-top: -10px;
    border: 1px solid white;
  }
  .gradient-blue{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(14, 242, 249), rgb(54, 141, 248));
    border-radius: 30px;
    margin-top: -61px;
    margin-left: 440px;
    max-height: 40px;
    max-width: 70px;
    height: 40px;
    font-size: 13px;
    outline: none !important;
    box-shadow: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 600px;
    font-size: 10.5px;
  }
}

.formu-2{
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-top: 150px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: rotateX(20deg);
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(rgb(14, 225, 232),rgb(13, 85, 174));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.register-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
  width: 450px;
}
.login{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: -webkit-linear-gradient(rgb(14, 225, 232),rgb(13, 85, 174));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input-group-text img{
  height: 25px;
  width: 25px;
}
.modal-image {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 200px);
  object-fit: contain;
  border-radius: 20px;
}
.modal-image img{
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: rotateX(20deg); 
}
.input-group{
  margin: 5px;
}
.movie-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  height: 520px;
  margin-top: -20px;
}
.gradient-red{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(234, 123, 123), rgb(207, 38, 38));
  border-radius: 30px;
  width: 90px;
  height: 40px;
  outline: none !important;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-black{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(121, 119, 119), rgb(1, 0, 0));
  border-radius: 30px;
  width: 90px;
  height: 40px;
  color: aqua;
  outline: none !important;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-aqua{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(74, 221, 64),rgb(7, 97, 97));
  border-radius: 30px;
  width: 90px;
  height: 40px;
  outline: none !important;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-orange{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(236, 21, 225),rgb(127, 45, 242));
  border-radius: 30px;
  width: 90px;
  height: 40px;
  outline: none !important;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-blue3{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(18, 140, 181),rgb(127, 45, 242));
  border-radius: 30px;
  width: 129px;
  height: 35px;
  outline: none !important;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-yellow{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(226, 219, 24),rgb(183, 26, 12));
  border-radius: 30px;
  width: 90px;
  margin-bottom: 10px;
  height: 35px;
  outline: none !important;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gradient-blue3:hover, .gradient-orange:hover, .gradient-aqua:hover, .gradient-black:hover, .gradient-red:hover, .gradient-gray:hover{
  opacity: 0.9;
  box-shadow: none;
}
#root, .navbar, .navbar-expand-md, .navbar-dark, .bg-primary, .fixed-top, .container-fluid, .container, .justify-content-start{
  padding: 0 auto;
}
.navbar{
  padding: 0 auto;
}
@media (max-width: 481px) {
  .container{
    padding: 0 auto;
    margin: 0 auto;
  }
  #root {
    padding: 0 auto;
  }
  .gradient-blue{
    display: flex;
    position: relative;
    right: 100px;
    bottom: 2px;
  }
  .gradient-blue1{
    display: flex;
    position: relative;
    left: 150px;
    bottom: 65px;
  }
  .formu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 320px;
    left: 13px;
    top: 125px;
    padding: 0 auto;
    margin: 0;
  }
  .formu-2{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 300px;
    left: 35px;
    top: 175px;
    padding: 0 auto;
    margin: 0;
  }
  .welcome{
    font-size: 17px;
  }
  .gradient-blue4{
    display: flex;
    position: relative;
    bottom: 64px;
    left: 257px;
  }
  .footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 8px;
    padding-left: 15px;
    padding-bottom: 3px;
  }
  .footer-2{
    justify-content: space-evenly;
    font-size: 10px;
    padding-left: 13px;
  }
  .navbar{
    position: fixed;
  }
  .register-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .gradient-green{
    margin: 0 auto;
  }
  .center{
    padding-top: 20px;
    margin: 0 auto;
  }
  .gradient-blue4{
    display: flex;
    position: relative;
    margin-left: 90px;
  }
  .titulo{
    display: flex;
    position: relative;
    left: 80px;
  }
  .filter-buttons{
    display: flex;
    position: relative;
    left: 80px;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 375px) {
  .container{
    margin: 0 auto;
  }
  .gradient-blue{
    display: flex;
    position: relative;
    right: 110px;
    bottom: 2px;
  }
  .formu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 290px;
    top: 75px;
    left: 20px;
    padding: 0 auto;
    margin: 0;
  }
  .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    font-size: 9.5px;
    padding-left: 5px;
    padding-bottom: 10px;
  }
  .register-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .gradient-green{
    margin: 0 auto;
  }
  .center{
    padding-top: 20px;
    margin: 0 auto;
  }
}

